* {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

main {
  width: 90%;
  border: 1px solid black;
  padding: 0 24px 0 24px; }

section.interactive {
  color: #858fad; }
  section.interactive h1 {
    font-size: 12px;
    font-weight: 800;
    margin-top: 34px; }
  section.interactive div.range__holder {
    display: flex;
    align-items: center; }
    section.interactive div.range__holder .custom-slider {
      margin: 25px 0; }
    section.interactive div.range__holder .custom-slider::-webkit-slider-thumb {
      width: 40px;
      /* Adjust the width as desired */
      height: 40px;
      /* Adjust the height as desired */
      transform: translate(0, -30%);
      border-radius: 50%;
      background-image: url("images/icon-slider.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #10d5c2;
      box-shadow: 0 12px 1rem 0 rgba(16, 213, 194, 0.4); }
    section.interactive div.range__holder .custom-slider::-moz-range-thumb {
      width: 40px;
      /* Adjust the width as desired */
      height: 40px;
      /* Adjust the height as desired */
      border-radius: 50%;
      box-shadow: -1010px 0 0 1000px #666; }
    section.interactive div.range__holder .custom-slider::-ms-thumb {
      width: 40px;
      /* Adjust the width as desired */
      height: 40px;
      /* Adjust the height as desired */
      border-radius: 50%; }
    section.interactive div.range__holder .custom-slider::-webkit-slider-runnable-track {
      background-color: #a5f3eb; }
    section.interactive div.range__holder .custom-slider::-moz-range-track {
      background-color: #a5f3eb; }
    section.interactive div.range__holder .custom-slider::-ms-track {
      background-color: #a5f3eb; }
  section.interactive .price__holder {
    margin-bottom: 34px; }
  section.interactive span.dollars {
    font-size: 32px;
    color: #293356; }
  section.interactive .billing__section {
    font-size: 12px; }
    section.interactive .billing__section .time__and__switch {
      display: flex;
      align-items: center;
      gap: 12px; }
    section.interactive .billing__section .form-check {
      display: flex;
      justify-content: center;
      align-items: center; }
      section.interactive .billing__section .form-check .form-check-input {
        height: 22px;
        width: 43px; }
      section.interactive .billing__section .form-check .form-check-input:checked {
        background-color: #10d5c2;
        border-color: #10d5c2; }
      section.interactive .billing__section .form-check .form-check-input:focus {
        box-shadow: none;
        background-color: none;
        border-color: none;
        color: none;
        outline: none; }
    section.interactive .billing__section .dis__col {
      display: flex;
      align-items: center; }

.benefits__and__button {
  color: #858fad;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .benefits__and__button .checklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .benefits__and__button button {
    color: #bdccff;
    background-color: #293356;
    font-weight: 800;
    padding: 12px 46px;
    border-radius: 2rem; }

/*# sourceMappingURL=style.css.map */
