// colors

// Pricing Component Background
$white: hsl(0, 0%, 100%);

// Main Background
$very-pale-blue: hsl(230, 100%, 99%);

// Empty Slider Bar
$light-grayish-blue: hsl(224, 65%, 95%);

// Toggle Background
$light-grayish-blue-toggle: hsl(223, 50%, 87%);

// Text
$grayish-blue: hsl(225, 20%, 60%);

// Text & CTA Background
$dark-desaturated-blue: hsl(227, 35%, 25%);

// Full Slider Bar
$soft-cyan: hsl(174, 77%, 80%);

// Slider Background
$strong-cyan: hsl(174, 86%, 45%);

// Discount Background
$light-grayish-red: hsl(14, 92%, 95%);

// Discount Text
$light-red: hsl(15, 100%, 70%);

// CTA Text
$pale-blue: hsl(226, 100%, 87%);




*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #F1F5FE;
    
}

main {
    width: 90%;
    border-radius: 1rem;
    // padding: 0 24px 0 24px;
    background-color: white;
    box-shadow: 0 8px 15px hsla(0, 0%, 0%, 0.1) ;
    
}

section.interactive {
    color: $grayish-blue;

    h1 {
        font-size: 12px;
        font-weight: 800;
        margin-top: 34px;
        text-align: center;
    }

    div.range__holder {
        display: flex;
        align-items: center;
        justify-content: center;


        .custom-slider {
            margin: 25px 0;
            width: 90%;
        }
        //slider button
        .custom-slider::-webkit-slider-thumb {
            width: 40px; /* Adjust the width as desired */
            height: 40px; /* Adjust the height as desired */
            transform: translate(0,-30%);
            border-radius: 50%;
            background-image: url('images/icon-slider.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-color: $strong-cyan;
            box-shadow: 0 12px 1rem 0 hsla(174, 86%, 45%, 0.4);
          }
  
          .custom-slider::-moz-range-thumb {
            width: 40px; /* Adjust the width as desired */
            height: 40px; /* Adjust the height as desired */
            border-radius: 50%;
            box-shadow: -1010px 0 0 1000px #666;
          }
  
          .custom-slider::-ms-thumb {
            width: 40px; /* Adjust the width as desired */
            height: 40px; /* Adjust the height as desired */
            border-radius: 50%;
          }

          //slider track

          .custom-slider::-webkit-slider-runnable-track {
            background-color: $soft-cyan; 
          }
  
          .custom-slider::-moz-range-track {
            background-color: $soft-cyan;
          }
  
          .custom-slider::-ms-track {
            background-color: $soft-cyan;
          }
    }

    .price__holder {
        margin-bottom: 34px;
    }

    span.dollars {
        font-size: 32px;
        color: $dark-desaturated-blue;
        padding-right: 8px;
    }

    .billing__section {
        font-size: 12px;
        padding-bottom: 38px;
        border-bottom: 1px solid $light-grayish-blue;
        

        .time__and__switch {
           display: flex;
           align-items: center;
           gap: 12px;
           padding: 0;
        }

        .form-check {
            display: flex;
            justify-content: center;
            align-items: center;
            
           
            .form-check-input {
                height: 22px;
                width: 43px;
            }

            .form-check-input:checked {
                background-color: $strong-cyan;
                border-color: $strong-cyan;     
              }

            .form-check-input:focus {
                box-shadow: none;
                background-color: none;
                border-color: none;
                color: none;
                outline: none;
            }
        }

        .dis__col{
            display: flex;
            align-items: center;

            .discount {
                background-color: hsla(15, 100%, 70%, 0.2);
                color: $light-red;
                border-radius: 16px;
                padding: 4px 8px;
            }
        }

    }
}

.benefits__and__button {
    color: $grayish-blue;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 32px;
    gap: 32px;

    .checklist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .check {
        
        }

    }

    button {
        color: $pale-blue;
        background-color: $dark-desaturated-blue;
        font-weight: 800;
        padding: 12px 46px;
        border-radius: 2rem;
        border: none;
    }

    button:hover {
        color: white;
    }

}

.test__row {
    border: 1px solid black;
}

.test__col {
    border: 1px solid black;
}

@media screen and (min-width: 880px) {

    main {
        width: 40%;
        padding: 1rem;
    }

    .benefits__and__button {
        flex-direction: row;
        gap: 0;
         
        
        .checklist {
            align-items: flex-start;
            max-width: 50%;
            

        }
    }
}